.short-menu {
	.wrapper {
		.items {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 30px;
			row-gap: 80px;
			.item {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 25px;

				.left {
					img {
						border-radius: 5px;
						aspect-ratio: 1 / 1;
						object-fit: cover;
						object-position: center center;
						height: 100%;
					}
				}

				.right {
					.title {
						font-family: var(--font-oswald);
						color: var(--primary-color);
						text-transform: uppercase;
						font-size: 2.5rem;
					}
					.excerpt {
						font-size: 1.6rem;
					}
					.price {
						font-family: var(--font-displayClean);
						color: var(--primary-color);
						font-size: 10rem;
						line-height: 75%;
						margin-top: 20px;
					}
				}
			}
		}
		.button-wrapper {
			margin-top: 70px;
			text-align: center;
		}
	}
}
