.main-banner {
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 80dvh;

		h1 {
			font-family: var(--font-oswald);
			width: 75%;
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;
			font-size: 6rem;
		}

		.button-wrapper {
			margin-top: 35px;
		}
	}
}
